node_modules
# Keep environment variables out of version control
.env

candaraa/generated/prisma

# Node modules (ignore local only)
node_modules/
**/node_modules/

# Logs
logs/
*.log

# Environment files
.env
.env.local
.env.*.local

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Ignore temporary files
*.tmp
*.swp
